img {
    /* Blurry image chrome workaround */
    image-rendering: -webkit-optimize-contrast;
}


[data-md-color-scheme="slate"] .featherlight .featherlight-content {
    background: #2e303e;
}

[data-md-color-scheme="slate"] .featherlight .featherlight-close-icon {
    background: rgba(255,255,255,.3);
    color: #fff;
}

.admonition-no-icon .admonition-title::before {
    display: none;
    padding-left: 0.6rem;
}

.admonition-no-icon .admonition-title {
    padding-left: 0.6rem!important;
}